<article class="post vt-post">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
            <div class="post-type post-img">
                <a  href="{{ .Permalink }}"><img  alt="{{ .Title}}" title="{{ .Title}}" class="img-responsive" src=
                "{{ partial "thumb_cloudinary.html" . | chomp}}"></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8" >
            <div class="caption">
                <h3 class="md-heading"  style="margin-top: -10px;"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

                <p><!--{{ .Summary }}--></p><a class="btn btn-default" href=
                "{{ .Permalink }}">Lire la suite</a>
            </div>
        </div>
    </div>
</article>
