{{ $currentPath := .URLPath.URL }}
{{ $baseUrl := .Site.BaseURL }}

<header>

<!-- Fixed navbar -->

<nav class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

              <span class="sr-only">Toggle navigation</span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

            </button>

    <a class="navbar-brand"  href="{{ $baseUrl }}" title="Chien Calme"><img src="/images/icons/apple-touch-icon-72-precomposed.png" alt="Chien Calme Logo" /></a> </div>

    <div class="navbar-collapse collapse pull-left">

      <ul class="nav navbar-nav menu" id="menu">

        <li><a href="{{ $baseUrl }}">Accueil</a></li>

        <li><a href="{{ $baseUrl }}actualites">Actualités</a></li>


        <li class="dropdown mega-dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ressources<span class="caret"></span></a>               

                <div class="dropdown-menu">

                    <div class="container">

                    <div class="mega-dropdown-menu">

                        <div class="col-md-4 col-xs-12 col-sm-4 sub-menu">

                            <h3>Méthodes</h3>

                            <ul class="list-unstyled">

                              <li><a href="{{ $baseUrl }}pages/massage">Massage </a></li>
                                <li><a href="{{ $baseUrl }}pages/osteopathie">Ostéopathie </a></li>
                                <li><a href="{{ $baseUrl }}pages/hypnose">Hypnose </a></li>
                                <li><a href="{{ $baseUrl }}pages/acuponcture">Acuponcture </a></li>

                                <!--<li><a href="#">Comportement </a></li>-->

                            </ul>

                        </div>

                        <div class="col-md-4 col-sm-4 sub-menu  hidden-xs">

                            <h3>F.A.Q.</h3>

                            <ul class="list-unstyled">

                              <li><a href="">Pourquoi ... ?</a></li>
                              <li><a href="{{ $baseUrl }}faq/comment">Comment ... ?</a></li>
                              <li><a href="">Combien ... ?</a></li>
                              <li><a href="">Que faire ... ?</a></li>
                              <li><a href="">Quand ... ?</a></li>

                            </ul>

                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-4 sub-menu">

                            <h3>Activités</h3>
                            <p>Comment occuper son chien si on a pas de jardin</p>


                            <ul class="list-unstyled">

                                <li><a href="{{ $baseUrl }}activites/appartement">En intérieur </a></li>
                                <li><a href="{{ $baseUrl }}activites/eau">Dans l'eau </a></li>
                                <li><a href="{{ $baseUrl }}activites/montagne">A la montagne </a></li>
                                <li><a href="{{ $baseUrl }}activites/ville">En ville </a></li>

                            </ul>

                        </div>

                    </div>

                    </div>   

                </div>              

            </li>


        <li><a href="/a-propos/">A propos</a></li>
        <li><a href="/contact/">Contact</a></li>


      </ul>

    </div>

    <ul class="nav navbar-nav navbar-right menu social-icons">

        <li class="dropdown mega-dropdown search">

          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search"></i></a>-->

          <div class="dropdown-menu">

                    <div class="container">

                        <div class="row">

                        <div class="col-md-6 pull-right">

                    <div class="mega-dropdown-menu">

                        <form class="search-form" action="search.php">

                            <div class="form-group">

                        <div class="col-lg-12">

                            <div class="input-group">

                              <input type="text" class="form-control" placeholder="Search for...">

                              <span class="input-group-btn">

                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                              </span>

                            </div><!-- /input-group -->

                          </div>

                          </div>

                      </form>

                    </div>

                    </div>

                    </div>





                    </div>   

                </div>

        </li>

        {{ if .Site.Params.facebookPage }}
        <li>
          <a href="{{.Site.Params.facebookPage}}" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        {{ end }}

        {{ if .Site.Params.twitterPage }}
        <li>
          <a href="{{.Site.Params.twitterPage}}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        {{ end }}

        {{ if .Site.Params.googlePage }}
        <li>
          <a href="{{.Site.Params.googlePage}}" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
        {{ end }}


      </ul>

    <!--/.nav-collapse --> 

  </div>

</nav>

</header>
